<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>FlaskBlog</title>
</head>
<body>
   <form method="post">
      <div>
         <label for="title">Spotify Playlist URL</label>
         <input type="text" name="url"
               placeholder="URL"
               value="{{ request.form['url'] }}"></input>
      </div>

      <div>
         <button type="submit">Submit</button>
      </div>
   </form>
</body>
</html>
